* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* HEADER */
.header {
    background:#1c222b;
    padding: 40px;
    text-align: center;
    color: white;
}

.navbar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
}

.navbar a:hover {
    background: #ffffff33;
    border-radius: 6px;
}

/* LAYOUT FLEXBOX */
.layout {
    display: flex;
    min-height: 80vh;
    padding: 30px;
    gap: 30px;
}

/* SIDEBAR */
.sidebar {
    flex: 1;
    background: #f6f6f6;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style: none;
    margin: 15px 0;
}

.sidebar li {
    margin-bottom: 12px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
}

.sidebar a:hover {
    color: #4a90e2;
}

/* MAIN CONTENT */
.main {
    flex: 3;
    background: #fffdf1;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;
}

.hero-img {
    width: 900px;
    height: 350px;
    margin: 25px 0;
    border-radius: 10px;
}

/* Service Box */
.service-box {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.service-box img{
    width: 200px;
    height: 200px;
}

/* FOOTER */
.footer {
    background: #333;
    color: white;
    padding: 25px;
    text-align: center;
    margin-top: 20px;
}

/* RESPONSIVE */
@media(max-width: 900px) {
    .layout {
        flex-direction: column;
    }

    .sidebar, .main {
        width: 100%;
    }

    .navbar {
        flex-wrap: wrap;
    }
}
